# Database Configuration (Neon PostgreSQL)
DB_HOST='db_host'
DB_PORT=5432
DB_USERNAME=neondb_owner
DB_PASSWORD='db_password'
DB_DATABASE=neondb

# Blockberry API Configuration
BLOCKBERRY_API_BASE_URL=https://api.blockberry.one/sui/v1
BLOCKBERRY_API_KEY='apikey'

# Application Configuration
PORT=3000
NODE_ENV=development
